.bg-light{
    background-color: #02aadd !important;
}

.margin-top-20{
    margin-top: 20px;
}
.child-rows {
    padding-left: 20px;
    border-left: 1px solid #dfdfdf;
    background: #fff;
}
.child-rows a.list-group-item{
    border-left: 0px !important;
}
.footer-bottom{
    padding: 20px;
    margin-top: 20px;
    background: gray;
}
